@font-face
    font-family: 'pkmn_rbygscregular'
    src: url('../fonts/pkmn_rbygsc.woff2') format('woff2'), url('../fonts/pkmn_rbygsc.woff') format('woff')
    font-weight normal
    font-style normal
