html, body
    width 100%
    height 100%

.background
    background-color #EFFFDE
    height 100%
    width 100%

.wide-screen-mode
    display flex
    flex-direction column
    justify-content space-between
    width inherit
    height inherit
    .wide-block
        background-color #183442
        width 100%
        height 25%

.gengar
    animation gengar-fight 1.8s steps(3)
    background url('../images/gengar.png')
    width 119px
    height 80px

.nido-evasion
    background url('../images/nido.png')
    width 66px
    height 66px
    background-position-x -198px

.nido-attack
    animation nido-attack-animation 0.8s steps(3) infinite
    background url('../images/nido.png')
    width 66px
    height 66px

@keyframes gengar-fight
    100%
        background-position-x -357px

@keyframes nido-attack-animation
    0%
        background-position-x -66px
    100%
        background-position-x -264px
