.oak-intro
    display flex
    flex-direction column
    justify-content center
    height inherit
    width 100%

.pokemon-list
    display flex
    flex-direction row
    flex-wrap wrap
    word-break break-all
    justify-content space-between
    li
        margin-right 5px

.centered-character
    .oak
        width 8vw
        min-width 60px
