.intro-container
    display flex
    flex-direction column
    align-items center
    height inherit
    width inherit

.poke-logo
    width 26vw
    margin-top 10px
    min-width 200px

.red
    margin-bottom 20px
    min-width 100px
    width 12vw

.copyright
    margin-bottom 10px

.click-continue
    align-self center
    margin-top 20px
