.pokemon-info
    display flex
    flex-direction column
    justify-content center
    height inherit

.extra-info
    order 3

.status
    order 2

.comments-window
    order 5
    .comments
        padding 8px
        word-break break-all

.comment-form
    order: 4

.centered-character
    .pokemon
        width 12vw
        min-width 140px
