backgroundColor = #EFFFDE
windowPadding = 10px
windowBorderWidth = 7px

html, body
    background-color backgroundColor
    height 100%
    cursor pointer
    width 100%

p
    font-size 16px
    padding 10px

input[type="text"], textarea
    background-color backgroundColor
    border none
    outline none
    font-family 'pkmn_rbygscregular'
    margin-bottom 5px
    width 100%

button
    background-color white
    width 100%
    padding 4px

.game-container
    display flex
    align-items flex-end
    flex-direction column
    justify-content flex-end
    height inherit
    width inherit

.pull-down
    justify-content flex-end

.scrollable
    height auto

.centered-character
    height inherit
    display flex
    align-items center
    justify-content center

.window
    border-image url('../images/ui-border.png') 7 fill repeat
    border-style solid
    border-width 7px
    height auto
    padding 10px
    width "calc(100% - %s * 2 - %s * 2)" % (windowBorderWidth windowPadding)

.pokeball
    animation pokeball-rotating-animation 0.5s linear infinite
    width: 12px

@keyframes pokeball-rotating-animation
    50%
        transform rotate(25deg)
    100%
        transform rotate(0deg)

@require './font-face.styl'
@require './reset.styl'
@require './intro.styl'
@require './home.styl'
@require './list.styl'
